@import '../../styles/theme/colors.scss';

.container {
  background-color: $color-white;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .animationContainer {
    display: flex;
    margin-bottom: 3rem;

    > * {
      width: 9.5rem !important;
      height: auto !important;

      @media (min-width: 48rem) {
        width: 16rem !important;
      }
    }
  }

  h1 {
    color: $color-pickled-bluewood;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;

    @media (min-width: 48rem) {
      font-size: 2rem;
    }
  }

  p {
    color: $color-oslo-gray;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;

    @media (min-width: 48rem) {
      font-size: 1.5rem;
    }
  }
}
